@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXw.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

*, select {
	font: 400 16px Rubik, sans-serif;
}

a {
	cursor: pointer;
}

a, a:hover, a:active, a:visited {
	color: #1880e7;
	text-decoration: none;
}

select {
	margin: 0 10px;
}

.bold, .bold a {
	font-weight: 600;
}

.black, .black a {
	font-weight: 700;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.title, .title > * {
	font-weight: 600;
	font-size: 1.5rem;
	color: #1880e7;
}

.title {
	text-align: center;
}

.title a {
	text-decoration: underline;
}

.title select, .title option {
	font-size: 1.3rem;
}

.subtitle {
	text-align: center;
}

.subtitle > div, .subtitle > select {
	margin-top: 10px;
}

main {
	font-weight: 600;
}

main > div {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

#content-container {
	display: none;
}

#chartjs-canvas-container {
	display: none;
	position: relative;
	width: 98vw;
}

#chartjs-canvas-container > span {
	text-align: center;
}

#chartjs-canvas {
	position: relative;
	width: 98vw;
	height: 40vh;
}

.footer-select {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-top: dashed 1px #ccc;
	margin: 20px 0;
	padding: 20px 0;
}

.footer-select > div {
	margin: 0 5px;
}
